# 1. Tiêu chí đánh giá

## 1.1 Chuẩn bị dữ liệu (Data Preparation) - 40%

- Kiểm tra tính chính xác của dữ liệu, thông qua **làm sạch**, **chuyển đổi định dạng dữ liệu**.  - 5%

- Vận dụng **4 câu hỏi trong phân tích dữ liệu** để xác định mục tiêu, khai thác vấn đề gặp phải và chiến lược - 10%

- Xây dựng mô hình dữ liệu - 15%

- Xây dựng nội dung câu chuyện mà bạn hướng đến - 10% 

## 1.2 Trực quan dữ liệu - 25%

- Trình bày kết quả thông qua ý nghĩa các biểu đồ - 15%

- Trình bày bố cục bảng điều khiển (dashboard) rõ ràng - 10%

## 1.3 Trình bày kết quả - 35% 

- Slide trình bày sản phẩm - 25% 

- Kỹ năng tư duy và sáng tạo - 10%

# 2. Phụ lục 

## 2.1 Quá trình phân tích dữ liệu theo các bước.

- Bước 1: Prepare: Thu thập, làm sạch và xử lý trước dữ liệu thô để phù hợp cho việc phân tích. 

- Bước 2: Xây dựng mô hình dữ liệu thể hiện cấu trúc, mối quan hệ và các ràng buộc của dữ liệu. 

- Bước 3: Phân tích: Cốt lõi của phân tích dữ liệu giúp đào sâu để khám phá những hiểu biết sâu sắc và trả lời câu hỏi.

- Bước 4: Trực quan: Trực quan hóa dữ liệu là một công cụ mạnh mẽ cho khám phá dữ liệu, xác định các mẫu và truyền đạt những phát hiện một cách hiệu quả. 

- Bước 5: Quản lý (manage): đảm bảo tính toàn vẹn, nhất quán, và bảo mật của dữ liệu đang được sử dụng. 

## 2.2 4 câu hỏi trong phân tích dữ liệu.

- Phân tích mô tả (Descriptive Analytics): Trả lời các câu hỏi về những gì đã xảy ra trong một khoảng thời gian nhất định bằng cách tóm tắt dữ liệu trong quá khứ và trình bày các kết quả. 

- Phân tích chuẩn đoán (Diagnostic Analytics): Những hiểu biết từ phân tích mô tả để đào sâu hơn để tìm ra nguyên nhân của kết quả. 

- Phân tích dự đoán (Predictive Analytics): Dữ liệu lịch sử và xu hướng được sử dụng để dự đoán. Lưu ý là mục đích **không phải để nói những gì sẽ xảy ra, đó là dự báo những gì có thể xảy ra**. 

- Phân tích đề xuất (Prescriptive Analytics): Phân tích các quyết định và sự kiện trong quá khứ, khả năng của các kết quả khác nhau.

# 3. Mục tiêu

1. Có một bức tranh tổng quan về Future Retailer

2. Rút ra 01 thông điệp đến nhà quản lý với những vấn đề đã được phân tích từ đề bài

# 4. Nhiệm vụ 

1. **Đánh giá hiệu quả kinh doanh của từng mặt hàng sản phẩm (Product Category)** thông qua việc _phân tích lợi nhuận_ dựa trên _giá sản xuất, giá bán_ để biết được sản phẩm nào đang có tổng lợi nhuận (GMROI) cao nhất/thấp nhất nhằm đề xuất chiến lược bán hàng phù hợp. 

2. **Đánh giá về hành vi mua hàng của khách hàng** để đưa ra những cải tiến trong việc nâng cao chất lượng dịch vụ chăm sóc khách hàng **dựa trên những lý do từ chối** để hiểu hơn cốt lõi của vấn đề. 

3. **Đánh giá về hiệu suất làm việc của đội ngũ tư vấn** để đánh giá hiệu suất công việc, chính sách khen thưởng phù hợp nhằm nâng cao đội ngũ nhân sự.

# 5. Thông tin về bộ dữ liệu

| Thuộc tính | Mô tả |
|---|---|
| Order ID | Mã đặt hàng |
| Customer ID | Mã khách hàng |
| Product category | Loại sản phẩm |
| Order date | Ngày đặt hàng |
| Quantity order | Số lượng sản phẩm đặt trong đơn hàng |
| Total Profit | Tổng lợi nhuận |
| Sale agent | Người bán hàng |
| Order status | Tình trạng giao hàng |
| State | Tiểu bang khách hàng chọn giao |
| Phone number | Số điện thoại khách hàng chọn giao hàng |
| Manufacturer price | Giá của nhà sản xuất xuất trên từng sản phẩm |
| Sale price | Giá bán cho khách hàng trên từng sản phẩm |

# Import Library

In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

# Read Data

In [2]:
raw_data_path = Path(r'C:\Users\lenovo\OneDrive - Cong ty co phan Format Vietnam JSC\Desktop\aiesec_da\data\raw_data')
df = pd.read_excel(r"C:\Users\lenovo\OneDrive - Cong ty co phan Format Vietnam JSC\Desktop\aiesec_da\data\raw\01. Future Retailer_Dataset.xlsx")

In [3]:
xls = pd.ExcelFile(r"C:\Users\lenovo\OneDrive - Cong ty co phan Format Vietnam JSC\Desktop\aiesec_da\data\raw\01. Future Retailer_Dataset.xlsx")
sheets = xls.sheet_names
dataframes = {sheet: pd.read_excel(xls, sheet) for sheet in sheets}

In [4]:
dataframes.keys()

dict_keys(['10.SE Regional Sales', '11.SE Regional Sales', '12.SE Regional Sales', 'Customer'])

In [5]:
reg_sale_10 = dataframes['10.SE Regional Sales']
reg_sale_11 = dataframes['11.SE Regional Sales']
reg_sale_12 = dataframes['12.SE Regional Sales']
customer = dataframes['Customer']

In [6]:
reg_sale_10.head()

,Order ID,Customer Last Name,Customer First Name,Customer ID,Product Category,Order Date,Quantity Ordered,Order Status,State,Manufacturer Price,Sale Price,Total Profit (GMROI),Sales Agent,Return Reason
0,1001,Hughes,Lewis,1234,Clothing,2022-10-11,16,Delivered,LA,1485,1880,395,Kelly,NaN
1,1002,Gomez,Ali,1235,Home & Kitchen,2022-10-09,11,Delivered,LA,1310,1602,292,Brian,NaN
2,1003,Beck,Mila,1236,Personal Care,2022-10-21,4,Shipped,GA,800,891,91,Terrence,NaN
3,1004,Juarez,Ryleigh,1237,Personal Care,2022-10-26,20,Cancelled,NC,1190,1462,272,Brian,Defective
4,1005,Preston,Leonidas,1238,Electronics,2022-10-22,9,Shipped,GA,470,525,55,Daniel,NaN

In [7]:
reg_sale_11.head()

,Order ID,Customer Last Name,Customer First Name,Customer ID,Product Category,Order Date,Quantity Ordered,Order Status,State,Manufacturer Price,Sale Price,Total Profit (GMROI),Sales Agent,Return Reason
0,2001,Hughes,Lewis,1234,Clothing,2022-11-06,9,Shipped,LA,1420,1657,237,Brian,NaN
1,2002,Gomez,Ali,1235,Home & Kitchen,2022-11-03,11,Shipped,LA,1410,1755,345,Kelly,NaN
2,2003,Beck,Mila,1236,Personal Care,2022-11-10,9,Delivered,GA,260,288,28,Brian,NaN
3,2004,Juarez,Ryleigh,1237,Personal Care,2022-11-19,9,Delivered,NC,715,812,97,Priscilla,NaN
4,2005,Preston,Leonidas,1238,Electronics,2022-11-07,13,Shipped,GA,790,978,188,Priscilla,NaN

In [8]:
reg_sale_12.head()

,Order ID,Customer Last Name,Customer First Name,Customer ID,Product Category,Order Date,Quantity Ordered,Order Status,State,Manufacturer Price,Sale Price,Total Profit (GMROI),Sales Agent,Return Reason
0,3001,Hughes,Lewis,1234,Clothing,2022-12-24,12,Delivered,LA,470,564,94,Kelly,NaN
1,3002,Gomez,Ali,1235,Home & Kitchen,2022-12-06,2,In Transit,LA,665,777,112,Kelly,NaN
2,3003,Beck,Mila,1236,Personal Care,2022-12-01,7,Delivered,GA,1445,1829,384,Priscilla,NaN
3,3004,Juarez,Ryleigh,1237,Personal Care,2022-12-25,9,Delivered,NC,200,227,27,Daniel,NaN
4,3005,Preston,Leonidas,1238,Electronics,2022-12-29,9,Shipped,GA,1175,1355,180,Brian,NaN

In [9]:
customer.head()

,Customer Last Name,Customer First Name,Customer ID,Product Category,Order Date,Quantity Ordered,Order Status,State,Address,City,Postal Code,Sale Price,Phone
0,Hughes,Lewis,1234,Clothing,2022-12-24,12,Delivered,LA,49458 Glenwood Avenue,Shreveport,71101,564,504-870-1437
1,Gomez,Ali,1235,Home & Kitchen,2022-12-06,2,In Transit,LA,11591 River Road,Covington,70433,777,337-400-1567
2,Beck,Mila,1236,Personal Care,2022-12-01,7,Delivered,GA,48087 Jackson Street,Atlanta,30303,1829,404-573-7088
3,Juarez,Ryleigh,1237,Personal Care,2022-12-25,9,Delivered,NC,46798 Hillcrest Avenue,Columbia,29201,227,252-325-9603
4,Preston,Leonidas,1238,Electronics,2022-12-29,9,Shipped,GA,65693 Mulberry Street,Avondale Estates,30002,1355,404-383-9724

Tạm thời thì mấy cái reg_sale chưa biết nó sẽ khác nhau ở chỗ nào, nói chung là cần tìm hiểu thêm. 


À rồi, thì là mấy cái này là record của từng tháng.

Bây giờ xem xét kiểu biến của các dataframe đã phù hợp chưa, nếu chưa thì tìm và sửa tiếp

In [19]:
print(reg_sale_10.dtypes)

Order ID                         int64
Customer Last Name              object
Customer First Name             object
Customer ID                      int64
Product Category                object
Order Date              datetime64[ns]
Quantity Ordered                 int64
Order Status                    object
State                           object
Manufacturer Price               int64
Sale Price                       int64
Total Profit (GMROI)             int64
Sales Agent                     object
Return Reason                   object
dtype: object

In [20]:
print(reg_sale_11.dtypes)

Order ID                         int64
Customer Last Name              object
Customer First Name             object
Customer ID                      int64
Product Category                object
Order Date              datetime64[ns]
Quantity Ordered                 int64
Order Status                    object
State                           object
Manufacturer Price               int64
Sale Price                       int64
Total Profit (GMROI)             int64
Sales Agent                     object
Return Reason                   object
dtype: object

In [21]:
print(reg_sale_12.dtypes)

Order ID                         int64
Customer Last Name              object
Customer First Name             object
Customer ID                      int64
Product Category                object
Order Date              datetime64[ns]
Quantity Ordered                 int64
Order Status                    object
State                           object
Manufacturer Price               int64
Sale Price                       int64
Total Profit (GMROI)             int64
Sales Agent                     object
Return Reason                   object
dtype: object

In [22]:
print(customer.dtypes)

Customer Last Name             object
Customer First Name            object
Customer ID                     int64
Product Category               object
Order Date             datetime64[ns]
Quantity Ordered                int64
Order Status                   object
State                          object
Address                        object
City                           object
Postal Code                     int64
Sale Price                      int64
Phone                          object
dtype: object

Kiểm tra missing value ở các dataframe khác nhau.

In [10]:
# Check for missing values in the 'reg_sale_10' DataFrame
missing_values_reg_sale_10 = reg_sale_10.isnull().sum()
missing_values_reg_sale_10

Order ID                  0
Customer Last Name        0
Customer First Name       0
Customer ID               0
Product Category          0
Order Date                0
Quantity Ordered          0
Order Status              0
State                     0
Manufacturer Price        0
Sale Price                0
Total Profit (GMROI)      0
Sales Agent               0
Return Reason           888
dtype: int64

In [11]:
missing_values_reg_sale_11 = reg_sale_11.isnull().sum()
missing_values_reg_sale_11

Order ID                  0
Customer Last Name        0
Customer First Name       0
Customer ID               0
Product Category          0
Order Date                0
Quantity Ordered          0
Order Status              0
State                     0
Manufacturer Price        0
Sale Price                0
Total Profit (GMROI)      0
Sales Agent               0
Return Reason           906
dtype: int64

In [12]:
missing_values_reg_sale_12 = reg_sale_12.isnull().sum()
missing_values_reg_sale_12

Order ID                  0
Customer Last Name        0
Customer First Name       0
Customer ID               0
Product Category          0
Order Date                0
Quantity Ordered          0
Order Status              0
State                     0
Manufacturer Price        0
Sale Price                0
Total Profit (GMROI)      0
Sales Agent               0
Return Reason           897
dtype: int64

In [13]:

missing_values_customer = customer.isnull().sum()
missing_values_customer

Customer Last Name     0
Customer First Name    0
Customer ID            0
Product Category       0
Order Date             0
Quantity Ordered       0
Order Status           0
State                  0
Address                0
City                   0
Postal Code            0
Sale Price             0
Phone                  0
dtype: int64

Ok nhìn qua thì không thấy có missing value, hầu hết rơi vào biến `return reason`. Cần thăm khám thêm ở biến này.

In [14]:
# Print unique values of the 'Return Reason' column in the 'reg_sale_10' DataFrame
unique_return_reasons_reg_sale_10 = reg_sale_10['Return Reason'].unique()
print("Unique Return Reasons in reg_sale_10:", unique_return_reasons_reg_sale_10)

Unique Return Reasons in reg_sale_10: [nan 'Defective' 'Late Delivery' 'Quality Issue' 'Received Wrong Item'
 'Unsatisfied']

In [15]:
# Print unique values of the 'Return Reason' column in the 'reg_sale_11' DataFrame
unique_return_reasons_reg_sale_11 = reg_sale_11['Return Reason'].unique()
print("Unique Return Reasons in reg_sale_11:", unique_return_reasons_reg_sale_11)

Unique Return Reasons in reg_sale_11: [nan 'Unsatisfied' 'Defective' 'Quality Issue' 'Received Wrong Item'
 'Late Delivery']

In [16]:
# Print unique values of the 'Return Reason' column in the 'reg_sale_12' DataFrame
unique_return_reasons_reg_sale_12 = reg_sale_12['Return Reason'].unique()
print("Unique Return Reasons in reg_sale_12:", unique_return_reasons_reg_sale_12)

Unique Return Reasons in reg_sale_12: [nan 'Quality Issue' 'Unsatisfied' 'Received Wrong Item' 'Defective'
 'Late Delivery']

Ok như vậy là cùng 1 lý do cả, để biết feature nào ảnh hưởng tới cái này nhiều thì có thể làm cái feature analysis

Ý nghĩa thống kê của các mặt hàng.